.mainpic{
    height: 300px;
    width: 200px;
    animation: mymove 5s infinite;
    position: relative;
}

body{
    background: url("https://c.tenor.com/3Umw4_D5vpMAAAAC/aru-ai.gif");
    repeat:none;
    font-size: 50px;
    text-align: center;
    color: aliceblue;
}
#madame{
    height: 300px;
}
@keyframes mymove{
    0%{
        left: 0%;
    }
    50%{
        left: 90%;
        transform: rotate(360deg);
    }
    100%{
        left: 0%;
        
    }
}
